@import "./container/navbar/navbar.css";
@import "./container/header/header.css";
@import "./container/question/question.css";
@import "./container/create/create.css";
@import "./container/quiz-app/quiz-app.css";
@import "./container/bookmarks/bookmarks.css";
@import "./container/home/home.css";
@import "./container/profile/profile.css";

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --dark: #3d278c;
  --medium: #8670d7;
  --light: #e0dff2;
  --text-light: #e0dff2;
  --text-dark: #0e1826;
  --highlight-color: #aea0e4;
}

@media (prefers-color-scheme: light) {
  :root {
    --dark: green;
    --medium: #8670d7;
    --light: #e0dff2;
    --text-light: #e0dff2;
    --text-dark: #0e1826;
    --highlight-color: #aea0e4;
  }
}
