.quiz-app {
  color: var(--text-light);
  background-color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 1em;
}

.quiz-app--hide {
  display: none;
}

.quiz-app__link {
  color: var(--text-light);
  text-decoration: none;
  justify-self: center;
  align-self: center;
  padding: 14px 16px;
}

.quiz-app__link:hover {
  color: var(--text-dark);
}
