.home {
}

.home--hide {
  display: none;
}

/* .question-card {
  background-color: var(--text-light);
  border-radius: 18px;
  padding: 1em;
  max-width: 20em;
  height: 25rem;
  margin: 3.5em auto;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr 3fr 1fr;
}

.question-card__title {
  color: var(--dark);
  grid-row: 1;
  margin: 1em;
}

.question-card__text {
  grid-row: 2;
  padding: 1em;
}

.question-card__answer {
  grid-row: 4;
  padding: 1em;
  align-self: center;
  margin: 1em auto;
}

.hide {
  display: none;
}

.question-card__bookmark {
  position: absolute;
  top: -15px;
  right: 15px;
  width: 48px;
  height: 48px;
  fill: var(--medium);
}

.question-card__bookmark--filled {
  opacity: 0.3;
}

.question-card__btn {
  background-color: var(--highlight-color);
  color: var(--text-dark);
  border: none;
  margin: 0.5em 1em;
  border-radius: 18px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  grid-row: 3;
}

.question-card__btn:hover {
  background-color: var(--dark);
  color: var(--text-light);
}

.question-card__tags-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row: 5;
  gap: 1em 1em;
}

.question-card__tags {
  text-decoration: none;
  margin: 0;
  padding: 0;
  align-self: center;
  justify-self: center;
} */
